.t{
	background-color:#C8F2CD;

}
.div{
	position: absolute;
	top: 19%;
	left: 37%;


}
.t1{
	position: absolute;
	top: 0%;
	left: 36%;
    font-family: arial;
    font-size: 45px;
}
.s1 {
	position: absolute;
	height: 30%;
	width: 20%;
	top: 17%;
	left: 10%;
	border: black 10px solid;

}
.s2 {
	position: absolute;
	height: 30%;
	width: 16%;
	top: 18%;
	left: 75%;
}
			
#header {
	width:500px;
	font-family: Arial;
}
			
ul, ol {
	list-style:none;
}
			
.nav li {
	float:left;
}
			
.nav li a {
	background-color:gray;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
}